TWITTER_STREAM_URL=https://api.twitter.com/2/tweets/search/stream?tweet.fields=created_at&expansions=author_id&user.fields=created_at
TWITTER_RULES_URL=https://api.twitter.com/2/tweets/search/stream/rules
TOKEN={YOUR BEARER TOKEN}
HASHTAG={Change this to your actual hashtag}
INTERVAL=10
DB_USER=root
DB_USER_PASS=1234